.edit-password-container{
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    height: 400px;
    padding: 1%;
}
.edit-password-submit-btn {
width: 180px;
height: 180px;
margin-top: 10px;
border: 1px solid rgb(158, 158, 158);
border-radius: 100%;
background-color: #4aa65b;
color: white;
position: absolute;
right: 0;
bottom: 0;
}


.edit-password-form th {
  text-align: left;
  padding: 2%;
}

.edit-password-form{
  width: 90%;
  height: 350px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative; 
  padding: 1%;
  }
  .edit-password-form table {
    width: 80%;
    border-spacing: 0;
  }
  .edit-password-form th,.edit-password-form td {
  
    border-bottom: solid 1px;
  }
  .edit-password-form th {
    text-align: left;
    padding: 2%;
  }
  @media screen and (max-width: 1024px) {
    .edit-password-submit-btn {
      width: 30%;
      height: 120px;
      }
  }
  
  